<%# @problems.each do |problem| %>
<!--  <div>-->
<%#= 'Система № ' + problem.id.to_s %>
<%#= link_to ' РЕШИТЬ', "/home/solve_problem/#{problem.id}" %>
<%# for i in 0..problem.m - 1 %>
<!--      <div>-->
<%# for j in 0..problem.n - 1 %>
<%#= problem.matrix.split(' ')[j + problem.m * i] %>
<%# end %>
<%#= '| ' + problem.b.split(' ')[i] %>
<!--      </div>-->
<%# end %>
<!--  </div>-->
<%# end %>

<div class="container vh100">
  <div id="start-block">
    <div class="logo">
      <%= image_tag "logo.png" %>
    </div>
    <h1>Решение систем<br>линейных уравнений</h1>
    <div class="methods">
      <%= link_to ' Метод Крамера', "/home/method_kramer" %>
      <%= link_to ' Метод Гаусса', "/home/method_gauss" %>
    </div>
  </div>
</div>